@import url('https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import '~chocolat/dist/css/chocolat.css';
.App {
  text-align: center;
  background-color: #2F2652;
}

img {
  max-width: 100%;
}

.welcome h1 {
  font-family: "Sixtyfour", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "BLED" 0,
    "SCAN" 11;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-home {
  background-color: #5477a9;
  min-height: 100vh;
  display: inline-block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(7px + 2vmin);
  color: white;
  width: 100%;
}

.App-home .welcome {
  background-color: #080910;
  box-shadow: 0 0 30px 30px #080910;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ===== Navitgation ===== */
.navigation .nav-logo {
  text-align: left;
  padding: 20px;
  margin-left: 20px;
  width: auto;
  display: block;
  float: left;
  color: white
}
.navigation .links {
  text-align: left;
  padding: 20px;
  width: auto;
  display: block;
  float: left;
}
.navigation .links a {
  text-align: left;
  padding: 20px;
  width: auto;
  display: inline-block;
  color: #333333;
  text-decoration: none;
}
nav {
  background-color: #1e2232;
}
nav .dropdown-menu {
  background-color: #1e2232;
}
nav .dropdown-menu a:hover {
  background-color: f1c140;
}
nav .nav-link:hover, nav .nav-link:active, nav .nav-link:focus {
  color: #f1c140 !important;
}
nav .nav-link {
  font-family: "Ubuntu Mono", monospace;
  color: #ffffff;
  font-size: 1.5em;
}
nav .dropdown-item {
  color: #ffffff
}
.navbar-brand {
  color: #ffffff !important;
}
.logo {
  max-height: 7em;
  margin-bottom: -50px;
}


/* ===== Contact Form ===== */
.contact-form {
  padding: 20px;
}

.contact-form .form-label {
  color: #ffffff;
  float: left;
  font-weight:600;
}


/* ===== bcakground image homepage ===== */
.background-image {
  background-color: #080910;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Ccircle stroke='%235477a9' vector-effect='non-scaling-stroke' id='a' fill='none' stroke-width='3.4' r='315'/%3E%3Cuse id='f' href='%23a' stroke-dasharray='100 100 100 9999'/%3E%3Cuse id='b' href='%23a' stroke-dasharray='250 250 250 250 250 9999'/%3E%3Cuse id='e' href='%23a' stroke-dasharray='1000 500 1000 500 9999'/%3E%3Cuse id='g' href='%23a' stroke-dasharray='1500 9999'/%3E%3Cuse id='h' href='%23a' stroke-dasharray='2000 500 500 9999'/%3E%3Cuse id='j' href='%23a' stroke-dasharray='800 800 800 800 800 9999'/%3E%3Cuse id='k' href='%23a' stroke-dasharray='1200 1200 1200 1200 1200 9999'/%3E%3Cuse id='l' href='%23a' stroke-dasharray='1600 1600 1600 1600 1600 9999'/%3E%3C/defs%3E%3Cg transform='translate(1000 750)' %3E%3Cg transform='rotate(46.8 0 0)' %3E%3Ccircle fill='%23BE731C' r='10'/%3E%3Cg %3E%3Cuse href='%23f' transform='scale(.1) rotate(50 0 0)' /%3E%3Cuse href='%23f' transform='scale(.2) rotate(100 0 0)' /%3E%3Cuse href='%23f' transform='scale(.3) rotate(150 0 0)' /%3E%3C/g%3E%3Cg transform='rotate(-1.8 0 0)'%3E%3Cuse href='%23b' transform='scale(.4) rotate(200 0 0)' /%3E%3Cuse href='%23z' transform='scale(.5) rotate(250 0 0)' /%3E%3C/g%3E%3Cg id='z' transform=''%3E%3Cg transform='rotate(29.25 0 0)'%3E%3Cuse href='%23b'/%3E%3Cuse href='%23b' transform='scale(1.2) rotate(90 0 0)' /%3E%3Cuse href='%23b' transform='scale(1.4) rotate(60 0 0)' /%3E%3Cuse href='%23e' transform='scale(1.6) rotate(120 0 0)' /%3E%3Cuse href='%23e' transform='scale(1.8) rotate(30 0 0)' /%3E%3C/g%3E%3C/g%3E%3Cg id='y' transform='rotate(8.1 0 0)'%3E%3Cg transform='rotate(17.55 0 0)'%3E%3Cuse href='%23e' transform='scale(1.1) rotate(20 0 0)' /%3E%3Cuse href='%23g' transform='scale(1.3) rotate(-40 0 0)' /%3E%3Cuse href='%23g' transform='scale(1.5) rotate(60 0 0)' /%3E%3Cuse href='%23h' transform='scale(1.7) rotate(-80 0 0)' /%3E%3Cuse href='%23j' transform='scale(1.9) rotate(100 0 0)' /%3E%3C/g%3E%3C/g%3E%3Cg transform='rotate(-35.1 0 0)'%3E%3Cg transform=''%3E%3Cg transform='rotate(-10.8 0 0)'%3E%3Cuse href='%23h' transform='scale(2) rotate(60 0 0)'/%3E%3Cuse href='%23j' transform='scale(2.1) rotate(120 0 0)'/%3E%3Cuse href='%23j' transform='scale(2.3) rotate(180 0 0)'/%3E%3Cuse href='%23h' transform='scale(2.4) rotate(240 0 0)'/%3E%3Cuse href='%23j' transform='scale(2.5) rotate(300 0 0)'/%3E%3C/g%3E%3Cuse href='%23y' transform='scale(2) rotate(180 0 0)' /%3E%3Cuse href='%23j' transform='scale(2.7)'/%3E%3Cuse href='%23j' transform='scale(2.8) rotate(45 0 0)'/%3E%3Cuse href='%23j' transform='scale(2.9) rotate(90 0 0)'/%3E%3Cuse href='%23k' transform='scale(3.1) rotate(135 0 0)'/%3E%3Cuse href='%23k' transform='scale(3.2) rotate(180 0 0)'/%3E%3C/g%3E%3Cuse href='%23k' transform='scale(3.3) rotate(225 0 0)'/%3E%3Cuse href='%23k' transform='scale(3.5) rotate(270 0 0)'/%3E%3Cuse href='%23k' transform='scale(3.6) rotate(315 0 0)'/%3E%3Cuse href='%23k' transform='scale(3.7)'/%3E%3Cuse href='%23k' transform='scale(3.9) rotate(75 0 0)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 25em;
  display: flex;
  align-items: center;
}

svg{ fill: green; }
.below {
  padding-bottom: 160px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1000 100' preserveAspectRatio='none' width='1000' height='104' fill='%235477a9'%3E%3Cg transform='scale(1.3,-1)' transform-origin='50%25'%3E%3Cpath d='m0 4 150 40h160l190 50 190-50h160l150-40V0H0v4z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");  
  background-size: cover;
  background-position: top center, bottom center, 50%;
  margin-top: -100px;
}

/* ===== card ===== */
.card {
  box-shadow: 5px 5px 15px #1e2232;
}
.card-title {
  font-family: "Anton",sans-serif;
  text-align: left;
}

.card p {
  font-family: "Ubuntu Mono", monospace;
  text-align: left;
}

.cards-title {
  margin-top: 70px;
  margin-bottom: 70px;
}
.cards-title h3 {
  font-family: "Sixtyfour", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "BLED" 0,
    "SCAN" 11;
}
.card-text {
  font-size: .8em
}

.cards {
  margin-bottom: 200px;
}

/* Attribution */
.attribution-to-matt {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: #080910;
  max-width: 40em;
  border-radius: 15px 15px 0px 0px;

}
.attribution-to-matt a {
  color:#5477a9;
  font-size: .9em;
  align-self: center;
  text-decoration: none;
}
.attribution-to-matt a:hover {
  color: #f1c140;
}

/* Band pages */

.band {
  height: 100vh;
}
.title h2 {
  font-family: "Sixtyfour", sans-serif;
  padding: 100px;
  color: #ffffff
}
.flex-band {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.band-item {
  margin: 20px;
  width: 20%;
}